*.egg-info
**/__pycache__
**/*_pb2.py
**/*_pb.js
**/*_pb2_grpc.py
**/*.pb
**/.DS_Store
**/test_artifacts
**/*.pth

third_party/zxing-cpp/test/
third_party/zxing-cpp/**/build
third_party/zxing-cpp/**/*.egg-info

webrtc
webrtc-web

web-client/public/zxing*.js
web-client/yarn.lock

core/logs
core/ims
core/*.jpg

*.log
**/media.mp4

build
dist
**/node_modules

sftp-config.json
database_credentials.json
server_secret

wink/data/requests
wink/data/ims
wink/data/test
wink/data/test_data

sftp-config.json

proxy-dev/nginx.conf
docs-proxy/nginx.conf

wink/deep_text_recognition_benchmark/demo_image
wink/deep_text_recognition_benchmark/figures
wink/deep_text_recognition_benchmark/.ipynb_checkpoints

config2/envoy*.yaml
core/test/ssl/*.cert
core/test/shell_site/**/sora-config.json
core/test/shell_site/public/sora.js

logos/
core/vendor_customization.json
core/**/*.pem

**/*.sqlite

.vscode/sftp.json
.vscode/.ignorefile
.vscode/settings.json
package-lock.json
config2/sora_config/dev_config.yaml
config2/sora_config/cole_config.yaml
vgs-sandbox.pem

.idea
.rsync-ignore
rsync.sh

microblink-ui/docs
microblink-ui/loader
*.d.ts
